body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #87ceeb, #dff6ff);
    font-family: Arial, sans-serif;
}

section{
    background: #ffffff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,.15);
    height: 800px;
}

label{
    font-weight: bold;
}

select{
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    background: #f1f1f1;
}

#pokemon-info{
    width: 300px;
    text-align: center;
}

#pokemon-name{
    text-transform: capitalize;
    color: #333;
}

#pokemon-image{
    width: 170px;
    height: 170px;
    background: radial-gradient(circle, #fff7b1, #ffe066);
    border-radius: 50%;
    transition: transform .3s;
}

#pokemon-image:hover{
    transform: scale(1.1) rotate(5deg);
}

ul{
    list-style: none;
    padding: 0;
}

li{
    margin: 5px 0;
}

#types{
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}